.comment__box {
  background-color: #f0f0f0;
  display: flex;
  width: 30%;
  min-width: 600px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.comment__box .text-input {
  margin-bottom: 0;
}

.comment__input {
  width: calc(100% - 140px);

}

.comment__data {
  display: flex;
  margin-top: 25px;
}

.comment__text {
  margin: 5px;
  word-break: break-all;
}

.comment__content {
  max-height: 410px;
  overflow: auto;
}

.comment__button {
  margin-bottom: 10px;
}
